
.settingsForm{
	margin: 20px;
}

.settingsBox{
	border-radius: 2px;
	width: 50%;
	font-size: 14px;
    text-align: left;
}

.settingsLabel{
	width: 20%;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.settingSelect{
	width: 125px;
    border-radius: 2px;
    margin-left:10px;
}

.settings-container {
	height: 30%
}